@model List<WEEK7.Models.Deck>

<h1>Card Page</h1>
<form asp-action="CreateCard" asp-controller="HelloWorld" class="form-inline-mbm">
    <div class="form-group">
        <label for="cardName"> Type in Card Name:</label>       <input class="form-control" type="text" name="cardName" />      
        <label for="cardTheme"> Select Card Theme:</label>      <input class="form-control" type="text" name="cardTheme" /> 
        <label for="cardValue">Type in Card Value:</label>      <input class="form-control" type="number" name="cardValue" />   
        <input class="btn" type="submit" style="background-color: silver; border-radius: 5px; border-color: blue; border: 5px " value="Add New Card"/>
    </div>
</form>
<div id="cardContainer">
    @{
        try { // 
        int n = Model.Capacity-1;
        <div>
            <table class="cardTable">
                <thead><h2>@Model[0].Theme</h2>Number of Cards: @Model[0].NumberOfCards</thead>
                    @foreach(var card in Model[0].CardSet)
                    {
                    <tr>
                        <td style="width:100px">@card.Name</td>
                        <td style="width:100px">@card.Value</td>
                    </tr>
                    }  
            </table>
        </div>
        <div>
            <table class="cardTable">
                <thead><h2>@Model[1].Theme</h2>Number of Cards: @Model[1].NumberOfCards</thead>
                    @foreach(var card in Model[1].CardSet)
                    {
                    <tr>
                        <td style="width:100px">@card.Name</td>
                        <td style="width:100px">@card.Value</td>
                    </tr>
                    }  
            </table>               
        </div>
        <div>
            <table class="cardTable">
                <thead><h2>@Model[2].Theme</h2>Number of Cards: @Model[2].NumberOfCards</thead>
                    @foreach(var card in Model[2].CardSet)
                    {
                    <tr>
                        <td style="width:100px">@card.Name</td>
                        <td style="width:100px">@card.Value</td>
                    </tr>
                    }  
            </table>            
        </div>

            } catch(Exception e){
            Console.Write(e);
        }
    }
</div>